#heading4{
  font-size: 70px;
}

#box4-1{
  width: 350px;
  /*border: 5px solid green;*/
  padding: 50px;
  margin: 50px;
  margin-top: 80px;
  margin-left: 150px;
  height: 300px;
}

#box4-2{
  width: 350px;
  /*border: 5px solid green;*/
  padding: 50px;
  margin: 50px;
  margin-top: 80px;
  margin-left: 900px;
  height: 300px;
}

#box4-3{
  width: 350px;
  /*border: 5px solid green;*/
  padding: 50px;
  margin: 50px;
  margin-top: 80px;
  margin-left: 150px;
  height: 300px;
}

#text4{
  font-weight: lighter;
  font-size: 20px;
}

#image4_1{
  position: absolute;
  top: 150px;
  right: 120px;
}

#image4_2{
  position: absolute;
  top: 650px;
  left: 140px;
}

#image4_3{
  position: absolute;
  top: 1050px;
  right: 80px;
}

#contain4 {
  position: absolute;
  top:  0px;
  left: 30px;

}

#container44{
  position: absolute;
  height: 25px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px 10px 20px 10px;
  align-items: center;
}

#logo4{
  margin-top: 17px;
}

#Login-button4 {

  background-color: #34421E;
  color: #ffffff;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  height: 30px;
  font-weight: bold;
  width: 60px;
  margin-left: 15px;
}


#Login-button4:hover {
  background-color: #34421E;
  cursor: pointer;
}

#Sign-up-button4 {
  background-color: #C19434;
  color: #ffffff;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  height: 30px;
  font-weight: bold;
  width: 60px;
  margin-left: 15px;
}

#Sign-up-button4:hover {
  background-color: #C19434;
  cursor: pointer;
}

#navigation4 {
  position: absolute;
  height: 25px;
  width: 415px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 65vw;
  padding: 10px 10px 20px 10px;
  align-items: center;
}

#navigation4-2>a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 15px;
  color: #34421E;
}

#navigation4-1>a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 15px;
  color:red;
}
