body{
  background-color: #f1f1ef;
}

/*heading for About us*/
#heading4{
  font-size: 70px;
}

/*to position want to know us text*/
#box4-1{
  width: 350px;
  /*border: 5px solid green;*/
  padding: 50px;
  margin: 50px;
  margin-top: 80px;
  margin-left: 150px;
  height: 300px;
}

/*to position vision and mission text*/
#box4-2{
  width: 350px;
  /*border: 5px solid green;*/
  padding: 50px;
  margin: 50px;
  margin-top: 80px;
  margin-left: 900px;
  height: 300px;
}

/*to position query based platfrom text*/
#box4-3{
  width: 350px;
  /*border: 5px solid green;*/
  padding: 50px;
  margin: 50px;
  margin-top: 80px;
  margin-left: 150px;
  height: 300px;
}

/*styling for the text*/
#text4{
  font-weight: lighter;
  font-size: 20px;
}

/*to position want to know us image*/
#image4_1{
  position: absolute;
  top: 150px;
  right: 120px;
}

/*to position vision and mission image*/
#image4_2{
  position: absolute;
  top: 650px;
  left: 140px;
}

/*to position query based platfrom image*/
#image4_3{
  position: absolute;
  top: 1050px;
  right: 80px;
}

#contain4 {
  position: absolute;
  top:  0px;
  left: 30px;

}

/*to position logo box of the page*/
#container44{
  position: absolute;
  height: 25px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px 10px 20px 10px;
  align-items: center;
}

/*to position logo within logo box*/
#logo4{
  margin-top: 17px;
}

/*login button position and style*/
#Login-button4 {

  background-color: #34421E;
  color: #ffffff;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  height: 30px;
  font-weight: bold;
  width: 60px;
  margin-left: 15px;
}

/*onclick login shadow*/
#Login-button4:hover {
  background-color: #34421E;
  cursor: pointer;
}

/*signup button position and style*/
#Sign-up-button4 {
  background-color: #C19434;
  color: #ffffff;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  height: 30px;
  font-weight: bold;
  width: 60px;
  margin-left: 15px;
}

/*onclick signup shadow*/
#Sign-up-button4:hover {
  background-color: #C19434;
  cursor: pointer;
}

/*position of the box containing different links*/
#navigation4 {
  position: absolute;
  height: 25px;
  width: 415px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 65vw;
  padding: 10px 10px 20px 10px;
  align-items: center;
}

/*button position within navigation at the top right*/
#navigation4-2>a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 15px;
  color: #34421E;
}

/*link position within navigation at the top right*/
#navigation4-1>a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 15px;
  color:red;
}

/*footer class*/
.footer1 {
  display: flex;
  flex-direction: row;
  margin-top: 1700px;
  width: 1059px;
  padding: 10px 15%;
  background:#6e7e54;
  color: #f1f1ef;
}

/*links position in footer*/
.footer1 div{
  text-align: center;
  flex-grow: 0.2;
  margin-left: 100px;
}

/*address position in footer*/
.footer1 div h3{
  font-weight: 300px;
  margin-bottom: 30px;
}

/*contact position in footer*/
.col_1 a{
  text-decoration: none;
  color: #f1f1ef;
  display:block;
  margin-bottom: 10px;
}
/*
.social{
  padding: 30px 15%;
  
  
}

#icons{
  margin-left: 350px;
}

.social a{
  cursor: pointer;
  color: #f1f1ef;
  text-decoration: none;
  margin-left: 50px;
  font-size: 30px;
  

}
*/

/*copyright at the bottom of footer*/
.copyright1{

  padding: 20px 35%;

  text-align: center;
  padding: 20px 15%;

  color: #f1f1ef;
  background:#e5c070;
  width:1059px;

}
