body{
  background-color: #f1f1ef;
}
#container88{
    position: absolute;
    height: 25px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px 10px 20px 10px;
    align-items: center;
  }
  
  #logo8{
    margin-top: 17px;
  }
  
  #Login-button8 {
  
    background-color: #34421E;
    color: #ffffff;
    font-size: 13px;
    border-radius: 5px;
    border: none;
    height: 30px;
    font-weight: bold;
    width: 60px;
    margin-left: 15px;
  }
  
  
  #Login-button8:hover {
    background-color: #34421E;
    cursor: pointer;
  }
  
  #Sign-up-button8{
    background-color: #C19434;
    color: #ffffff;
    font-size: 13px;
    border-radius: 5px;
    border: none;
    height: 30px;
    font-weight: bold;
    width: 60px;
    margin-left: 15px;
  }
  
  #Sign-up-button8:hover {
    background-color: #C19434;
    cursor: pointer;
  }
  
  #navigation8{
    position: absolute;
    height: 25px;
    width: 415px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 65vw;
    padding: 10px 10px 20px 10px;
    align-items: center;
  }
  
  #navigation8-2>a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 15px;
    color: #34421E;
  }
  
  #navigation8-1>a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 15px;
    color:red;
  }
  