input[type=text],input[type=password] {
  width: 26vw;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}



#Loginbutton3:hover {
  opacity:1;
}


#Loginbutton3 {
  background-color: #34421E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 8vw;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  width: 9vw;
}

#container3 {
  padding: 20px;
}

#heading3{
  margin-left: 10vw;
}

#forgotpass{
  margin-left: 9vw;
}

#image3{
  position: absolute;
  top: -10px;
  right: 120px;
}

#contain3{
  position: absolute;
  top: 135px;
  left: 150px;

}