body {
  background-image: url("images/homepage_img0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color: #f1f1ef;*/
  position: relative;
  height: 96vh;
  overflow-x: hidden;
}

#container1_1{
  display: flex;
  flex-direction: column;
}

#container1_1 {
  background-color: #f1f1ef;
  background-size: cover;
  background-repeat: no-repeat;
}

#searchbox1 {
  position: relative;
  align-items: center;
  left: 20vw;
  right: 20vw;
}

#search1 {
  position: relative;
  background-color: #34421E;
  height: 50px;
  width: 60vw;
  border-radius: 10px;
  display: flex;
  top: 10vh;
  padding: 10px 10px 20px 10px;
  align-items: center;
  box-shadow: 0 5px 5px 3px gainsboro;
}

#search1>input[type="text"] {
  height: 35%;
  margin: 8px 0;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
  width: 95%;
  border: 1.5px solid #f1f1ef;
}

#Login-button1 {

  background-color: #34421E;
  color: #ffffff;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  height: 30px;
  font-weight: bold;
  width: 60px;
  margin-left: 15px;
}


#Login-button1:hover {
  background-color: #34421E;
  cursor: pointer;
}

#Sign-up-button1 {
  background-color: #C19434;
  color: #ffffff;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  height: 30px;
  font-weight: bold;
  width: 60px;
  margin-left: 15px;
}

#Sign-up-button1:hover {
  background-color: #C19434;
  cursor: pointer;
}

#navigation1 {
  position: absolute;
  background-color: #F1F1EF;
  height: 25px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 70vw;
  padding: 10px 10px 20px 10px;
  align-items: center;
}

#navigation1>a {
  margin-left: 15px;
  text-decoration: none;
  font-size: 15px;
  color: #34421E;
}

#homepageheading1 {
  margin-top: 150px;
  font-size: 50px;
}

#searchbutton1 {
  position: relative;
  margin-left: 2px;
  background-color: #C19434;
  color: #ffffff;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  height: 23px;
  font-weight: bold;
  width: 60px;
  cursor: pointer;
}