body{
    background-color: #ffffff;
}

/*terms and conditions heading*/
#heading7{
    font-size: 45px;
}

/*container for complete terms and condition block*/
#container7{
    text-align: justify;
    text-justify: inter-word;
    height: 300px;
    width: 700px;
    padding: 16px;
    margin-left: 400px;
}

/*container for points*/
#container7_1{
    padding: 20px;
    margin-right: 50px;
}
 /*footer block*/
 .footer1 {
    display: flex;
    flex-direction: row;
    width: 1059px;
    padding: 0 15%;
    background:#f8dad3;
    color: black;
  }
  
  .footer1 div{
    text-align: center;
    flex-grow: 0.2;
    margin-left:100px
  }
  
  .footer1 div h3{
    font-weight: 300px;
    margin-bottom: 30px;
  }
  
  .col_1 a, .col_2 p, .col_3 p {
    text-decoration: none;
    display:block;
    margin-bottom: 10px;
    color: black;
    font-size: small;
  }

  /*copyright in footer*/
  .copyright1{
    text-align: center;
    padding: 0.7vw 15%;
    color: #ffffff;
    background:#293241;
    width:1059px;

  }
  
