<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1><%= universityname %> </h1>
    <h1>
        <%= address %>
    </h1>
    <h1>
        <%= state %>
    </h1>
</body>
</html>